.medicine-curosal-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.medicine-curosal-mini-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 82%;
}

.medicine-curosal-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.medicine-cursoal-row1-container {
  display: flex;
  flex-direction: row !important;
  width: 400px;
}

.medcine-cursal-image {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 30px !important;
}
.medicine-curosal-content-container {
  margin-top: 30px !important;
  width: 80%;
}
.medicine-curosal-main-heading {
  margin: 20px;
  color: #184363;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.medicine-curosal-heading {
  font-size: 14px;
  margin-bottom: 5px;
  color: #184363;
  font-weight: bold;
}
.medicine-curosal-heading:hover {
  color: #15a9e3;
}

.medicine-curosal-price {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #184363;
}
